.navbar-brand img {
    width: 130px;
}

.full-width {
    width: 100%;
    height:auto;
}

/* site feature */
.feature-item img{
    width: 169px;
    height: 234px;
}

.subscribe {
    background-image: url(images/subscribe.jpg);
    background-size:cover;
    background-position: center;
}

/* footer */
.brand-icon img {
    width:130px;
}

/* sticky footer */
.blur-filter {
    backdrop-filter: blur(2px);
    background-color: rgb(255 255 255 / 30%);

}